# Logs and environment
*.log
.DS_Store
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache

# IDE/editor configs
/.fleet
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed

# Composer / Auth
/auth.json

# Node & front-end
/node_modules
/public/build
/public/hot
/public/storage
/public/generated

# Ignore compiled Filament/Vite/Mix assets
/public/css/
/public/js/

# Laravel storage & vendor
/storage/*.key
/storage/pail
/vendor

# Homestead / Vagrant
Homestead.json
Homestead.yaml

# Windows / macOS system files
Thumbs.db
